:root {
  --light-gray: rgb(243, 243, 243);
  --black: rgb(0, 0, 0);
}

html {
  font-size: 18px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
}

.container {
  width: 30vw;
  margin: 0 auto;
}

.sub-title {
  display: block;
  margin: 40px 0;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.sub-sub-title {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 25px 0;
}

.img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

.bio {
  margin: 30px auto;
}

.bio::first-line {
  font-weight: 600;
}

.greeting-container {
  display: flex;
  justify-content: center;
}

.greeting-message {
  display: block;
  margin: 20px 0;
  text-align: center;
}

.greeting-italic {
  font-style: italic;
}

.greeting-emphasis {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
  display: block;
  width: 100%;
}

.general-text {
  display: block;
  margin: 10px 0;
}

.boldfaced-text {
  font-weight: bold;
}

.general-grouped-info {
  display: block;
  width: 800px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 5px;
  background-color: var(--light-gray);
}

.image {
  border-radius: 50%;
  display: block;
  margin: auto;
}

.engineering-building-description {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 10px;
}

@media screen and (max-width: 1024px) {
  .greeting-container {
    flex-wrap: wrap;
  }

  .general-grouped-info {
    width: unset;
    max-width: 600px;
  }

  .popup-trigger {
    width: 100%;
  }
}

form {
  margin-bottom: 100px;
}

.radio-buttons,
.checkboxes {
  margin: 20px 0;
}
